#comment-template {
    display: none;
}

#new-comment {
    border-top: 1px solid black;
    padding: 30px 30px 0 30px;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    height: 30%;
    transition: all 500ms ease-in-out;
}

#new-comment.hidden {
    transform: translate(0, 1000px);
}

.blockquote-container .callout .blockquote-title {
    margin-left: 1rem;
}

.blockquote-container .callout blockquote {
    quotes: "“" "”" "‘" "’  ";
    border-left: none;
}

.blockquote-container .callout blockquote:before {
    content: open-quote;
    color: #8a8a8a;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

.blockquote-container .callout blockquote:after {
    content: close-quote;
    color: #8a8a8a;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.6em;
}

.blockquote-container .callout blockquote .blockquote-content {
    display: inline;
    color: #0a0a0a;
}

.blockquote-content img {
    max-width: 50%;
}

#messages {
    width: 100%;
    position: fixed;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
}

.date.label {
    float: right;
    padding-top: 3px;
    line-height: 1.4;
    font-size: 1.3rem;
}

.upvotes {
    padding: 0;
    text-align: center;
}

.upvotes span {
    display: block;
}

.upvote.voted {
    color: #008604;
}

#hide-comment {
    color: #ff6666;
}

#show-comment {
    color: #6666ff;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/*
 * SCROLLBAR
 */

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #000c49;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 0.9rem;
    }

    .date.label {
        font-size: 0.9rem;
    }

    #new-comment input, #new-comment textarea, #new-comment button {
        font-size: 1rem;
    }

    #new-comment button {
        padding: .50em .85em;
    }

    #new-comment input {
        height: 2rem;
    }

    #new-comment {
        padding: 10px 30px 0 30px;
        bottom: 0;
    }

    #messages {
        padding: 0 10px;
    }
}